body {
	font-family:"courier-New",Arial;}
h1{
	text-align: center; 
	text-transform: uppercase;
	font-size: 5em;
	border: 1px solid black;
	font-weight: bolder;
}
h3{
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
	font-weight: bold;
}
.nr1{
	font-size: 2em;
	font-weight:bold;
}	
ul{
	list-style-type:circle;
	font-weight: bold;
	margin: 5px;
}