body {
	font-family:"courier-New",Arial;}
h1{
	text-align: center; 
	text-transform: uppercase;
	font-size: 5em;
	border: 1px solid black;
	font-weight: bolder;
}
h3{
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
	font-weight: bold;
}
.nr1{
	margin-left:70px ;
	font-size: 2em;
	font-weight:bold;
}	
ul{
	text-align:center;
	list-style-type:circle;
	font-weight: bold;

}
.sidenav {
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}
.sidenav a:hover {
  color: skyblue;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}