.left {
	margin:  5px;
	border-style: dotted;
	visibility: hidden;
}
.right {
	margin: 5px;
	border-style: dashed;
	visibility: hidden;
}	
#first{
	border-color: skyblue;
}
#second{
	border-color: violet;
}
#third{
	border-color: lightgreen;
}
#fourth{
	border-color: lightgray;
}
#fifth{
	border-color: lightsalmon;
}
#sixth{
	border-color: lightseagreen;
}
#third>p{
	visibility: hidden;
}
h1{
	visibility: hidden;
}
